@use '../utils/mixins' as *;

.footer {
  height: 180px;

  @include on-tablet {
    height: 359px;
  }

  background-image: url('../images/footer/footer.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include on-desktop {
    background-position: center;
    background-size: 100% 100%;
  }
}
