@use '../utils/mixins' as *;

.icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  @include on-desktop {
    &:hover {
      transform: scale(1.3);
    }
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--phone {
    background-image: url('../images/header/Icon-Phone-call.svg');
  }

  &--menu {
    background-image: url('../images/header/Icon-Burger-menu.svg');
  }

  &--close {
    background-image: url('../images/header/headerMenuClose.svg');
  }
}
