@use '../utils/mixins.scss' as *;

.schedule {
  margin-top: 100px;

  @include on-tablet {
    margin-top: 140px;
  }

  &__wrapper {
    @include page-grid;
  }

  &__top {
    grid-column: 1 / -1;

    margin-bottom: 32px;

    @include on-tablet {
      grid-column: 1 / 3;
      margin-bottom: 0;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;

    color: rgba(209, 45, 53, 1);
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    color: rgba(22, 22, 22, 1);

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include on-desktop {
      letter-spacing: -1.5px;
    }
  }

  &__bottom {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 6 / 12;
    }
  }

  &__location {
    display: grid;
    row-gap: 24px;

    &-title {
      margin-bottom: 16px;
      font-weight: 700;
      line-height: 30px;
      font-size: 24px;
    }
  }

  &__visit {
    margin-bottom: 16px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    th,
    td {
      padding: 0 0 8px;
      font-size: 16px;
      line-height: 27px;
      text-align: left;
      vertical-align: top;
    }

    .schedule__hours {
      width: 40%;
      font-weight: 700;

      @include on-desktop {
        width: 22%;
      }
    }

    .schedule__hours--cl {
      width: 45%;

      @include on-desktop {
        width: 27%;
      }
    }

    .schedule__days {
      padding-left: 12px;
      white-space: nowrap;
    }

    tr:last-child {
      th,
      td {
        padding-bottom: 0;
      }
    }
  }

  &__closedon {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
